.faq {
    padding: var(--big-offset);
  
    &__list {
      margin: 0 auto;
      max-width: 880px;
    }

  }
  
.faq-accordion {
    border-top: 1px solid var(--color-main);
    border-bottom: 1px solid var(--color-main);
  }
.faq-accordion__icon {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-image: url("../img/cross.svg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      transition: transform 0.3s ease-out;
}
.faq-accordion__control{
        background: transparent;
        border: none;
        color: transparent;
        cursor: pointer;
        padding: 10px;
        outline: none;
}
.faq-accordion__content {
      overflow: hidden;
      padding-right: 70px;
      padding-bottom: 0;
      max-height: 0;
      box-sizing: content-box;
      font: var(--middle-book);
      color: rgba(36, 36, 36, 0.5);
      opacity: 0;
      transition: all 0.3s ease-out;
      will-change: max-height;
}
  
.faq-accordion:not(:first-child) {
      margin-top: -1px;
}

  
.accordion__control {
    width: 100%;
    background-color: transparent;
    cursor: pointer;
}
  
.open .faq-accordion__icon {
    transform: rotate(45deg);
}
  
.open .faq-accordion__content {
    padding-bottom: 18px;
    opacity: 1;
}