.header{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: var(--color-eastbay);
  }
  .header__container{
    align-items: center;
    border-bottom: 1px solid var(--color-white);
    padding: var(--grid-gap) 0;
  }
  .header__left{
    grid-column: 2 span;
  }
  .header__right{
    display: flex;
    justify-content: flex-end;
    grid-column: 10 span;
  }